<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EmotionAlly</title>
    <link rel="shortcut icon" href="mhcicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static\css\login.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="static\images\logo.png" alt="" />
      </div>
      <div class="text-center mt-4 name">EmotionAlly</div>
      <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="Username"
          />
        </div>
        <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input
            type="password"
            name="password"
            id="pwd"
            placeholder="Password"
          />
        </div>
        <button type="button" id="loginBtn" class="btn mt-3">Login</button>
      </form>
      <div class="text-center fs-6">
        Don't have an account?
        <a href="signup">Sign up</a>
      </div>
    </div>

    <script>
      document
        .getElementById("loginBtn")
        .addEventListener("click", function () {
          window.location.href = "index"; // Replace 'welcome.html' with the desired target HTML page
        });
    </script>
  </body>
</html>
